.gradle
.idea
/build
*.swp
.pull-state
/behovsakkumulator
/bomlo-bigquery-terraform
/bomlo-cli
/bomlo-data-analyse
/bomlo-dbt
/dataprodukter
/github-workflows
/gradle-plugins
/helse
/libs
/redteam
/risk-mock
/sp-forsikring
/sp-forsikring-statistikk
/sp-vilkarsproving
/spaghet
/spalten
/spammer
/spanner
/spapi
/spare
/sparkel-norg
/sparkelapper
/sparkiv-subsumsjon
/sparsom
/speaker
/spedisjon
/speed
/speider
/speil
/spekemat
/spenn
/spennende
/spesialist
/spesidaler
/spetakkel
/spill-av-im
/spinnvill
/spleis
/spleis-testdata
/spleisesparkel
/spock
/spoiler
/spokelse
/spoken
/spoogle
/sporbar
/sporhund
/sporing
/spotlight
/spout
/spre
/spredning
/spregulering
/sprinter
/sprute
/spurtedu
/spydig
/tbd
/tbd-libs
/vedtaksfeed
/web
